div {
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background: rgb(234, 245, 245);
}

#navigation-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

img {
  max-width: 100%;
  height: auto;
}

ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: grey;
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 5px 20px;
}

li {
  display: flex;
  flex-direction: row;
  align-items: center;
}

button {
  background-color: black;
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

footer {
  text-align: center;
  padding: 5px;
  background-color: rgb(109, 109, 109);
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer a {
  font-size: small;
  color: white;
}